[Desktop Entry]
Name=PulVid
Comment=Графично изтегляне на видеа
Exec=sh -c '~/bin/pulvid.sh'
Icon=pulvid-icon
Terminal=false
Type=Application
Categories=AudioVideo;Network;Utility;
